<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lunch.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lunch.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @lunch.state %>
</p>

<p>
  <strong>Starts on:</strong>
  <%= @lunch.starts_on %>
</p>

<p>
  <strong>Ends on:</strong>
  <%= @lunch.ends_on %>
</p>

<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
